@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";


#intro {
  .link {
    &.link-btn {
      min-width: auto;
      width: 18em;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

}

.section-block {
  &.section-block--introduction{

    .highlightedText {
      text-align: center;
    }

    h1 {
      
      @include respond-to("medium") {
        text-align: left;
      }
    }

    .block {
      align-items: left;
      width: 100%;
      margin-bottom: 18px;

      @include respond-to("medium") {
        max-width: 50%;
        padding-right: 1em;
        margin-right: 1em;
      }

      &.block-context {
        @include respond-to("medium") {
          padding-left: 40px;
        }
      }

      &.block-profile {

        @include respond-to("medium") {
          width: 30em;
        }
    
          .profile { 
            object-fit: cover;
            border-radius: 100%;
            width: 300px;
            height: 300px;
            display: block;
            text-align: center;
            margin: 0 auto;
          }
      }
    
      &.block-context {
        @include respond-to("medium") {
          max-width: 75%;
        }
      }
    }


  }
}