
.home-hero-banner {
  position: relative;
  background: url(../img/banner-01.jpg) center 50% no-repeat;
  background-size: cover;
  height: 610px;
  margin-bottom: 1.5rem;

  ul {
    position: relative;
    list-style:circle !important;
    list-style-type: disc;
    text-align: center;
    text-transform: uppercase;
    z-index: 40;
    top: 50%;
    margin: 0 auto;
    max-width: 90%;
    li {
      position: relative;
      display: inline-block;
      font-weight: 400;
      font-size: 3.8rem;
      margin: 0 0.5em;
      color: $white;

      &:after {
        position: absolute;
        top: -34px;
        left: -25px;
        content: '.';
        font-size: 58px;
        display: inline-block;
      }
    }

  }

  .down-link{
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    display:block;
    margin: 0 auto;
    width: 30px;
    height: 50px;
    background: url(../img/icons/arrow.svg) center no-repeat;

    span {
      @include visuallyhidden;
    }
  }
}