@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.site-header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: $white;
  height: $navbar-height;
  line-height: $navbar-height;
  z-index: 50;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);

  @include respond-to("medium") {
    position: fixed;
  }

  .site-brand {
    margin: 0 auto;
    width: 70px;

    .site-logo {
      display: block;
      margin-left:0;
      background: url(../../img/logo.svg) no-repeat;
      background-size: cover;
      width: 70px;
      height: 70px;
  
      span {
        @include visuallyhidden;
      }
    }
  }

  .navbar {
    display: flex;
    height: 100%;

      &-wrapper {
        position: absolute;
        background-color: $white;
        top:90px;
        left: 0;
        width: 100%;

        &.close {
          overflow: hidden;
          transition: max-height 0.5s ease-in-out; 
          height: auto;
          max-height: 0;

          @include respond-to("medium") {
            overflow: auto;
            max-height: none;
          }
        }

        &.open {
          max-height: 400px;
        }

        @include respond-to("medium") {
          position: relative;
          top: 0;
          display: flex;
          justify-content: space-between;
          width: 90%;
        }
      }

      &-btn {
        display: inline-block;
        padding: 25px;
        position: absolute;
        right: 10px;
        top: 18px;

        span {
          background: $abbey;
          display: block;
          height: 2px;
          position: relative;
          transition: background .2s ease-out;
          width: 25px;
          
          &:before, &:after {
            background: $abbey;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
          }

          &:before {
            top: 5px;
          }

          &:after {
            top: -5px;
          }
        }

        &.active {
          span {
            background: transparent;

            &:before {
              transform: rotate(-45deg);
              top:0;
            }

            &:after {
              transform: rotate(45deg);
              top: 0;
            }
          }
        }
    
        @include respond-to("medium") {
          display: none;
        }
      }

      &-menu {
        margin-bottom: 20px;
        padding-top: 20px;

        @include respond-to("medium") {
          display: flex;
          flex-grow: 0;
          margin-left: auto;
          margin-right: -1rem;
          margin-bottom: 0;
          padding-top: 0;
        }
      }

      &-menuItem {
        width: 100%;
        line-height: 2.8;
        padding: 0 20px;
        border-bottom: 1px solid $american-silver;

        @include respond-to("medium") {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0;
          border: 0;
          width: auto;
          line-height: 1.5;
        }
      }

      &-menuLink {
        color: $abbey;
        font-size: 1.4rem;
        line-height: 2.5;
        margin: 0 10px;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 0.4px;
        // transition: all $transition-duration ease-in-out;
        transition: color 0.2s ease;
        border-bottom: 2px solid transparent;
        text-transform: uppercase;

        &:hover,
        &--active {
          transition: transform .3s ease-out,border-color .3s ease-out;
          border-bottom: 2px solid $yellow;
          color: $light-grey;
          backface-visibility: hidden;
          transform: scaleX(1);
        }
      }


    .social-icons {
      display: flex;
      align-items: center;
      padding: 0 0 20px 20px;

      @include respond-to("medium") {
        margin: -5px 0 0 10px;
        padding: 0;
      }

      .social-icons--item {
        margin: 0 10px;
        height: 20px;
        width: 20px;

        .icon-link {
          display: block;
          width: 20px;

        .icon {
          display: block;
          width: 20px;
          height: 20px;

          &.icon-tele {
            background: url(../../img/icons/phone.svg) center no-repeat;
            background-size: contain;
          }

          &.icon-email {
            background: url(../../img/icons/email.svg) center no-repeat;
            background-size: contain;
          }

          &.icon-instagram {
            background: url(../../img/icons/instagram.svg) center no-repeat;
            background-size: contain;
          }
        }

        &:hover {
          opacity: 0.5;
        }

        span {
          @include visuallyhidden;
        }
      }
      }
    }
  }
}
