.navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
  text-transform: uppercase;

  .navbar-item {
    font-weight: 500;
    img {
      max-height: none;
    }
    a {
      color: $green;
    }
  }
  
  @media screen and (min-width: 1088px) {
    .navbar, .navbar-menu, .navbar-start, .navbar-end {
      justify-content: center;
      display: flex;
      width: 85%;
    }
  }
}