@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

#testimonials {
  background-color: $yellow;
}

.section-block {

  &.section-block--testimonials{
    margin-bottom: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
  
    h2{
      font-size: 3rem;
      text-transform: capitalize;
    }
  }
}